@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Sofia+Sans&display=swap");

@layer base {
  body {
    @apply bg-[#f0f8ff] text-black dark:bg-gray-900 dark:text-white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Playfair Display", serif;
  font-family: "Sofia Sans", sans-serif;
  background-color: #f0f8ff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  padding: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  /* color: black; */
}

p {
  font-family: "Sofia Sans", sans-serif;
  line-height: 1.5rem;
}

svg {
  cursor: pointer;
}

.card input {
  display: none;
}

.card input:checked ~ .content {
  display: block;
}

.card label::before {
  content: "+ More";
}

.card input:checked ~ label::before {
  content: "- Less";
}

footer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
